<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - Personal Expenses</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/cuentas/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/cuentas/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/cuentas/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/cuentas/icons/site.webmanifest">
    <link rel="shortcut icon" href="/static/cuentas/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/cuentas/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <style>
    .material-icons{
        font-size: 1.2rem;
    }

    table tr.first-of-day{
        border-top: 2px solid black !important;
    }
    </style>
    
    {% block header %}
    {% endblock %}

</head>
<body>
    
    <main class="section">
        {% block content %}
        {% endblock %}
    </main>
    {% if DEBUG %}
    <p>Modo debug</p>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    {% endif %}
    
    {% block scripts %}

    {% endblock %}
</body>
</html>