{% extends 'cuentas/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container is-max-desktop ">
    <h1 class="title is-4">{{title}}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <a class="button is-info" href="/">Regresar</a>
        <button class="button is-primary" type="submit">Guardar</button>
    </form>
    
</div>
{% endblock %}

{% block scripts %}
<script>
    document.querySelectorAll("input[type='text'],input[type='number'],select").forEach(element=>{
            element.classList.add("input")
    })
</script>
{% endblock %}