{% extends 'cuentas/base.html' %}

{% block title %}Resumen{% endblock %}

{% block content %}
{% verbatim %}
<div class="container mt-6" id="app">
    <div class="columns">
        <div class="column">
            <div class="panel is-primary">
                <p class="panel-heading">Cuentas</p>
                <!--
                <div class="panel-block">
                    <p class="control">
                        <input class="input is-primary" type="text" placeholder="Search">
                        
                    </p>
                </div>
                -->
                <div v-for="account in majorOrderedAccounts" class="panel-block renglon-cuenta"
                    v-bind:key="account.pk" v-bind:class="{'is-active': account.pk === account_active}"
                    @click="set_active_account(account.pk)"
                >
                    <span class="panel-icon"><span class="material-icons">account_balance_wallet</span></span>
                    <span>{{account.fields.name}}</span>&nbsp;
                    <span class="transaction-value">{{account.fields.balance.toLocaleString('en-US',{style:'currency',currency: 'USD'})}}</span>
                    
                </div>
                {% endverbatim %}
                <div class="panel-block" >
                    <a href="{% url 'create_account' %}" class="button is-link is-outlined is-fullwidth">
                        <span class="panel-icon"> <span class="material-icons">add</span> </span>
                        Agregar nueva cuenta
                    </a>
                    
                </div>
                {% verbatim %}
            </div>
        </div>
        <div class="column" v-if="accounts.length>0">
            <form-transaction type-transaction="subtract" 
                :account="account_selected?.pk" 
                :account-name="account_selected?.fields?.name"
                :available-accounts="cuentas_lista"
                @saved_successfully="transaction_saved"
            />
        </div>
        <div class="column" v-if="accounts.length>0">
            <form-transaction type-transaction="add" 
                :account="account_selected?.pk"
                :account-name="account_selected?.fields?.name"
                :available-accounts="cuentas_lista"
                @saved_successfully="transaction_saved"
            />

        </div>
        
    </div>
    <div class="columns">
        <div class="column content " v-if="accounts.length > 0">
            
            <p class="is-italic">
                <strong class="has-text-weight-bold">{{account_selected?.fields?.name}} {{account_selected?.fields?.balance?.toLocaleString('en-US',{style:'currency',currency: 'USD'})}} </strong> 
                {{account_selected?.fields?.comments}}<br>
                Tipo: {{account_selected?.fields?.type_account}}.
                Posicion: {{account_selected?.fields?.order}}. 
                <a :href="`/edit-account/${account_selected.pk}/`">editar</a>
            </p>
            <p>
                <a class="button is-primary" :href="`/transactions/${account_selected.pk}/`">Ver movimientos</a>
            </p>
        </div>
        {% endverbatim %}
        <div class="column">
            <p class="mt-2">
                <span class="material-icons is-size-2">
                account_circle
                </span> {{user.get_username}}
            </p>
            <br>
            <div class="buttons ">
                <a class="button is-small" href="{% url 'logout' %}">Cerrar sesion</a>
                <a class="button is-small" href="/auth/change-password/">Cambiar contraseña</a>
                <a class="button is-small" href="/all-accounts">Todas mis cuentas</a>
            </div>
            

        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
{% load static %} 
<script src="{% static 'cuentas/'%}form_transaction.js"></script>
<script>
    const accounts = {{accounts|safe}} ;
    const account_active = {{active_account}} ;

    const app = new Vue({
        el: "#app",
        data:function(){
            return {
                accounts:accounts,
                account_active : account_active,
                cuentas_lista:[]
            }
        },
        methods:{
            set_active_account:function(account_id){
                this.account_active = account_id
                //console.log(window.location.search)
                window.history.replaceState({},"",`?account-active=${this.account_active}`)
                //window.location.search=`?account-active=${this.account_active}`
            },
            transaction_saved:function(data){
                this.change_balance_account(data.saved_transaction.account_id, data.saved_transaction.account_balance)
                if ("related_transaction" in data){
                    this.change_balance_account(data.related_transaction.account_id, data.related_transaction.account_balance)
                }
            },
            change_balance_account:function(account_id,newBalance){
                const index = this.accounts.findIndex(item=>item.pk ==account_id)
                this.accounts[index].fields.balance =newBalance
            }
        },
        computed:{
            majorOrderedAccounts:function(){
                //siempre regresar la cuanta activa en primer lugar, independientemente del orden
                if(this.account_active===0 || this.accounts.findIndex(account=>account.pk==this.account_active)< 0 ){
                    //console.log("regresando todo")
                    return this.accounts
                } 
                let account_active_index = this.accounts.findIndex(account=>account.pk==this.account_active)
                let new_order = [...this.accounts]
                new_order.splice(account_active_index,1)
                new_order.unshift({...this.accounts[account_active_index]})
                
                return new_order
            },
            account_selected:function(){
                const idx_active = this.accounts.findIndex(account=>account.pk==this.account_active);
                const account_selected = (this.account_active!=0 && idx_active > -1)
                    ? this.accounts[idx_active]
                    : {pk:0,fields:{name:"undefined"}}
                //console.log(account_selected)
                return account_selected
            }
        },
        mounted:function(){
            if((this.account_active===0 || this.accounts.findIndex(account=>account.pk==this.account_active)< 0) 
                && this.accounts.length>0 ){
                this.account_active=this.accounts[0].pk
            }
            this.cuentas_lista = [...this.accounts].map(item=>{return { "id":item.pk, "name":item.fields.name }})
        }
    })
</script>
{% endblock %}

{% block header %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap" rel="stylesheet">
<style>
    .panel-block.is-active{
        font-size: 1.25rem;
    }
    .transaction-value{
        font-family: 'Source Code Pro', monospace;
        font-weight: 700;
    }
    .renglon-cuenta{
        cursor: pointer;
    }
</style>

{% endblock %}
