{% extends 'cuentas/base.html' %}

{% block title %}Transaccciones de {{account.name}}{% endblock %}

{% block content %}
<div class="container is-max-desktop " id="app">
    {% load humanize %}
    <h1 class="title is-4">{{account.name}} ${{account.balance|intcomma}}</h1>
    <h2 class="subtitle is-5">Transacciones</h2>
    <a class="button is-info" href="/?account-active={{account.pk}}">Regresar</a>
    <hr>
    {% verbatim %}
    
    <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Buscar" v-model="buscador">
        </div>
    </div>

    <div class="table-container">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Saldo Posterior</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="trans in transactions_filter" :key="trans.pk" 
                :class="{'has-background-success-light':trans.type_transaction=='add','has-background-danger-light':trans.type_transaction=='subtract'}"
                >
                    <td>{{trans.pk}}</td>
                    <td >{{trans.date}}<br> {{trans.time}}</td>
                    <td>{{trans.concept}}</td>
                    <th>{{trans.amount_parsed}}</th>
                    <td>{{trans.saldo}}</td>
                    <td v-html="trans.obs"></td>
                    <td><a :href="'/edit-transaction/'+trans.pk+'/'">editar</a> | <a :href="'/delete-transaction/'+trans.pk+'/'">borrar</a></td>
                </tr>
            </tbody>
            
        </table>
    </div>
    {% endverbatim %}
    <a class="button is-info" href="/?account-active={{account.pk}}">Regresar</a>
</div>
{% endblock %}

{% block scripts %}
<script>
    const transactions = {{transactions|safe}} ;
    const saldo_final = {{account.balance}};
    const cuentas = {{all_accounts|safe}};
    const cuentas_dict = cuentas.reduce((acum,current)=>{
        acum[current.pk] =current.fields
        return acum
    },{})
    const app = new Vue({
        el:"#app",
        data:function(){
            return {
                transactions:transactions,
                parsedTransactions:[],
                buscador:"",
                diccionario_cuentas:cuentas_dict
            }
        },
        computed:{
            transactions_filter:function(){
                return this.parsedTransactions.filter(transaction=>{
                    return transaction.concept.toLowerCase().includes(this.buscador.toLowerCase())
                })
            }
        },
        created:function(){
            let posterior_saldo = saldo_final;
            console.log("AQUI CREAR UN SERIALIZADOR PARA QUE LO DATOS LLEGUEN LO MAS ENTENDIBLES")
            this.parsedTransactions = [...this.transactions].map(item=>{
                let transaction = {...item.fields}
                transaction.pk =item.pk
                transaction.date = (new Date(transaction.occurred_in)).toLocaleDateString("es-MX")
                transaction.time = (new Date(transaction.occurred_in)).toLocaleTimeString()
                transaction.amount_parsed = transaction.amount.toLocaleString('en-US',{style:'currency',currency: 'USD'})
                const op_inversa= transaction.type_transaction==='add' ? 'Cargo': 'Abono'
                transaction.obs = transaction.affected_account_id!=0 
                    ? op_inversa+' a <a href="/transactions/'+transaction.affected_account_id+'/">'+ this.diccionario_cuentas[ transaction.affected_account_id].name +'</a> transacción #'+transaction.related_transaction_id
                    : '..'
                transaction.saldo = (posterior_saldo).toLocaleString('en-US',{style:'currency',currency: 'USD'});
                posterior_saldo = posterior_saldo - transaction.amount;
                return transaction
            })
        }
    });
</script>
{% endblock %}