{% extends 'cuentas/base.html' %}

{% block title %}Transaccciones de {{account.name}}{% endblock %}

{% block content %}
<div class="container is-max-desktop " id="app">
    {% load humanize %}
    <h1 class="title is-4">{{account.name}} ${{account.balance|intcomma}}</h1>
    <h2 class="subtitle is-5">Transacciones</h2>
    <div class="columns">
        <div class="column">
            <a class="button is-info" href="/?account-active={{account.pk}}">Regresar</a>
        </div>
        <div class="column is-three-quarters">
            <form method="GET" class="is-inline">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Limite de registros:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" max="500" name="limit" value="{{limit}}" min="1" max="800">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="button" type="submit" value="Actualizar">
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    
    <hr>
    {% verbatim %}
    
    <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Buscar" v-model="buscador">
        </div>
    </div>

    <div class="table-container">
        <table class="table is-fullwidth is-narrow">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Saldo Posterior</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="trans in transactions_filter" :key="trans.pk" 
                :class="{
                    'has-background-success-light':trans.type_transaction==='add',
                    'has-background-danger-light':trans.type_transaction=='subtract',
                    'first-of-day': trans.firstOfDay,
                }"
                >
                    <td>{{trans.pk}}</td>
                    <td >{{trans.date}}</td>
                    <td>{{trans.concept}}</td>
                    <td>{{trans.amount_parsed}}</td>
                    <td>{{trans.saldo}}</td>
                    <td v-html="trans.obs"></td>
                    <td><a :href="'/edit-transaction/'+trans.pk+'/'">editar</a> | <a :href="'/delete-transaction/'+trans.pk+'/'">borrar</a></td>
                </tr>
            </tbody>
            
        </table>
    </div>
    {% endverbatim %}
    <a class="button is-info" href="/?account-active={{account.pk}}">Regresar</a>
</div>
{% endblock %}

{% block scripts %}
<script>
    const transactions = {{transactions|safe}} ;
    const saldo_final = {{account.balance}};
    const cuentas = {{all_accounts|safe}};
    const cuentas_dict = cuentas.reduce((acum,current)=>{
        acum[current.pk] =current.fields
        return acum
    },{})
    const app = new Vue({
        el:"#app",
        data:function(){
            return {
                transactions:transactions,
                parsedTransactions:[],
                buscador:"",
                diccionario_cuentas:cuentas_dict
            }
        },
        computed:{
            transactions_filter:function(){
                return this.parsedTransactions.filter(transaction=>{
                    return transaction.concept.toLowerCase().includes(this.buscador.toLowerCase())
                })
            }
        },
        created:function(){
            let posterior_saldo = saldo_final;
            //console.log("AQUI CREAR UN SERIALIZADOR PARA QUE LO DATOS LLEGUEN LO MAS ENTENDIBLES")
            let previusDay = ''
            this.parsedTransactions = [...this.transactions].map(item=>{
                let transaction = {...item.fields}
                transaction.pk =item.pk
                
                const optionsStyleDate = {  dateStyle:'full',timeStyle:'short'};
                const date = new Date(transaction.occurred_in)
                transaction.date = new Intl.DateTimeFormat("es-MX",optionsStyleDate).format(date)
                transaction.short_date = new Intl.DateTimeFormat("es-MX",{dateStyle:"short"}).format(date)
                
                //transaction.time = (new Date(transaction.occurred_in)).toLocaleTimeString()
                transaction.amount_parsed = transaction.amount.toLocaleString('en-US',{style:'currency',currency: 'USD'})
                const op_inversa= transaction.type_transaction==='add' ? 'Cargo': 'Abono'
                transaction.obs = transaction.affected_account_id!=0 
                    ? op_inversa+' a <a href="/transactions/'+transaction.affected_account_id+'/">'+ this.diccionario_cuentas[ transaction.affected_account_id].name +'</a> transacción #'+transaction.related_transaction_id
                    : '..'
                transaction.saldo = (posterior_saldo).toLocaleString('en-US',{style:'currency',currency: 'USD'});
                posterior_saldo = posterior_saldo - transaction.amount;
                transaction.firstOfDay = transaction.short_date !== previusDay
                previusDay = transaction.short_date
                return transaction
            })

            
            
        }
    });
</script>
{% endblock %}