<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña - Personal Expenses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="container is-max-desktop mt-6">
        
        <div class="columns">
            <div class="column">
                <h1 class="title is-4">Cambiar la contraseña</h1>
            </div>
            <div class="column">
                <form  method="post">
                    {% csrf_token %}
                    {{ form }}
                    
                    <button class="button is-primary mt-2" type="submit">Guardar</button>
                </form>
                <hr>
                <a class="button is-info" href="/">Cancelar</a>
            </div>
        </div>
        
    </div>
    
    <script>
        document.querySelectorAll("input[type='text'],input[type='password']").forEach(element=>{
            element.classList.add("input")
        })
    </script>
</body>
</html>