<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - Personal Expenses</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña - Personal Expenses</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/cuentas/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/cuentas/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/cuentas/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/cuentas/icons/site.webmanifest">
    <link rel="shortcut icon" href="/static/cuentas/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/cuentas/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
    <div class="container is-max-desktop mt-6">
        
        <div class="columns">
            <div class="column">
                <h1 class="title is-4">Registrate</h1>
            </div>
            <div class="column">
                <form  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button class="button is-primary mt-2" type="submit">Registrarse</button>
                    
                </form>
                <hr>
                <a class="button is-info" href="/">Cancelar</a>
            </div>
        </div>
        
    </div>
    </section>
    
    <script>
        document.querySelectorAll("input[type='text'],input[type='password']").forEach(element=>{
            element.classList.add("input")
        })
        document.querySelectorAll("label").forEach(element=>{element.classList.add("has-text-weight-bold")} )
    </script>
</body>
</html>